
.footer{
    color:$color-primary-light;
    background-color:$color-background-footer;
    float: left;
    margin:0 auto;
    width:100%;

    &__box{
      display: inline;
      font-size:1.1rem; 
      padding: 0.2rem;
     
    }
    &__menu {
        
        display: inline;

        & li{
            display: inline;
            font-size:1.8rem;
        }
    }
    
}