
header {
    float: left;
    margin:0 auto;
    padding: 0;
    width: 100%;
    background-image:url('../img/the-flatiron-building.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .header{
      
      color:$color-primary-light;
    
    &__title{
        font-size: 7rem;
        font-weight: bold;
    }

    &__nav{
        font-size: 1.8rem;

        &--list li{
            text-decoration: underline;
        }

    }

  }